<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Sentiment Analyzer</title>
</head>

<body>
  <header>
    <h1>Sentiment Analyzer</h1>
  </header>

  <main>
    <div class="container">
      <p>Enter a URL of an article / a blog to discover its sentiment.</p>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input id="article-url" type="text" name="input" value="" placeholder="Enter Article URL here">
          <input type="submit" id="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)"
            onsubmit="return handleSubmit(event)">
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="text"></div>
        <div id="agreement"></div>
        <div id="subjectivity"></div>
        <div id="confidence"></div>
        <div id="irony"></div>
        <div id="score_tag"></div>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="footer">
        <h4>Thekra Alamoudi &copy; 2022 </h4>
    </div>
</footer>


  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
      })
    }
  </script>
</body>

</html>